* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #FF6F00;
    --secondary: #ff0000;
}

.header {
    background-color: var(--primary);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 5px 10px 5px 10px;
    /* border: 1px solid black; */
}

.logo-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-container {
    height: 8vh;
    width: 4rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    background-color: white;
    justify-content: center;
}

.logoName {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    /* font-style: italic; */
    font-size: 2.5rem;
}

.logo {
    height: 90%;
    margin: 2px;
}

.nav-items {
    padding: 0px 20px;

    ul {
        list-style: none;
        display: flex;

        li {
            padding: 10px;
            margin: 10px;
            font-size: x-large;
        }
    }
}

.search {
    padding: 10px;
}

.shimmerSearch{
    width: 40vw;
    height: 6vh;
    background-color: rgba(128, 128, 128, 0.2);
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.res-card {
    background-color: rgb(252, 252, 252);
    margin: 10px;
    width: 273px;
    height: 253px;
    /* padding: 5px; */
    /* border: 1px solid black; */
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 10px rgba(128, 128, 128, 0.2);

    h3 {
        text-align: center;
    }

    h4 {
        color: grey;
        text-align: center;
        size: 0;
    }
}

.resName {
    width: 100%;
    font-size: 1.3rem;
    position: absolute;
    bottom: 80;
    color: white;
    text-shadow: 0 0 10px black;
}

.resData {
    font-size: .8rem;

    .ratingBG {
        background-color: green;
    }
}

.res-card:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.5);
}

.res-logo {
    width: 100%;
    border-radius: 10px;
    height: 70%;
    /* margin: 5px; */
}

.footer {
    height: 6vh;
    background-color: var(--primary);
    position: static;
    bottom: 0;
}

.resDataContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

#resDataCuisines {
    text-align: center;
}

.restaurantNameInput {
    width: 40vw;
    font-size: 1rem;
    padding: 5px;
    border: 0;
}

.restaurantNameInput:focus {
    outline: none;
}

.searchBtn {
    background-color: transparent;
    color: var(--primary);
    font-size: 1rem;
    padding: 5px;
    border: 0;
}

.searchDiv {
    padding: .5rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.searchShimmer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.filterBtn {
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    width: fit-content;
    font-size: 1rem;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .shimmer-card {
        width: 273px;
        height: 253px;
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.2);
        margin: 10px;
    }
}

.btnShimmer{
    padding: 5px;
    margin: 10px;
    width: 10vw;
    height: 4vh;
    background-color: rgba(128, 128, 128, 0.2);
}

.ratingColor{
    border-radius: 5px;
    padding: 3px;
    h4{
        color: white;
    }
}

.loginBtn{
    padding: 5px 20px;
    cursor: pointer;
    font-size: inherit;
    border-radius: 10px;
    border: 0;
    color: var(--primary);
    background-color: white;
}